## 7 Other Functions in pandas

In [12]:
import pandas as pd

In [13]:
file_name = 'movies.csv'
data = pd.read_csv(file_name)
data.head()

                title rating  year  runtime
0       Almost Famous      R  2000    122.0
1        American Pie      R  1999     95.0
2  Back to the Future     PG  1985    116.0
3        Blade Runner      R  1982    117.0
4   Blood for Dracula      R  1974    106.0

In [14]:
# pd.read_excel(filename)	#From an Excel file    xlsx format

### 4- Data Cleaning

In [47]:
df.sample()

     title rating  year  runtime
25  Psycho      R  1960      NaN

In [ ]:
df.columns

Index(['title', 'rating', 'year', 'runtime'], dtype='object')

In [48]:
df.columns = ['Title','Rating','Year','Runtime']  #Rename columns
df.sample(2)

           Title Rating  Year  Runtime
3   Blade Runner      R  1982    117.0
27       Super 8  PG-13  2011    112.0

In [53]:
df.rename(columns={'Year':'Year_Prod'},inplace=True)

In [ ]:
df.sample()

                 Title Rating  Year  Runtime
19  Millennium Actress     PG  2001     87.0

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    30 non-null     object
 1   Rating   30 non-null     object
 2   Year     30 non-null     int64
 3   Runtime  28 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ KB

In [50]:
df['Title'] = df['Title'].astype('string') # str	#Convert the datatype of the series to float

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      30 non-null     string
 1   Rating     30 non-null     object
 2   Year_Prod  30 non-null     int64
 3   Runtime    28 non-null     float64
dtypes: float64(1), int64(1), object(1), string(1)
memory usage: 1.1+ KB

In [55]:
df['Year_Prod'] = df['Year_Prod'].astype(float)	#Convert the datatype of the series to float

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      30 non-null     string
 1   Rating     30 non-null     object
 2   Year_Prod  30 non-null     float64
 3   Runtime    28 non-null     float64
dtypes: float64(2), object(1), string(1)
memory usage: 1.1+ KB

In [57]:
df

                      Title     Rating  Year_Prod  Runtime
0             Almost Famous          R     2000.0    122.0
1              American Pie          R     1999.0     95.0
2        Back to the Future         PG     1985.0    116.0
3              Blade Runner          R     1982.0    117.0
4         Blood for Dracula          R     1974.0    106.0
5               Blue Velvet          R     1986.0    120.0
6        The Breakfast Club          R     1985.0     97.0
7                  Clueless      PG-13     1995.0      NaN
8            Cool Hand Luke         GP     1967.0    127.0
9                 The Craft          R     1996.0    101.0
10           Doctor Zhivago      PG-13     1965.0    197.0
11                  el Topo  Not Rated     1970.0    125.0
12                Evil Dead      NC-17     1981.0     85.0
13             Ghostbusters         PG     1984.0    105.0
14                   Grease      PG-13     1978.0    110.0
15                 Heathers          R     1988.0    103.0
16                Labyrinth         PG     1986.0    101.0
17            The Lost Boys          R     1987.0     97.0
18               Mean Girls      PG-13     2004.0     97.0
19       Millennium Actress         PG     2001.0     87.0
20       My Neighbor Totoro          G     1988.0     86.0
21        Napoleon Dynamite         PG     2004.0     96.0
22  Pee-wee's Big Adventure         PG     1985.0     91.0
23           Pretty in Pink      PG-13     1986.0     97.0
24       The Princess Bride         PG     1987.0     98.0
25                   Psycho          R     1960.0      NaN
26              Stand by Me          R     1986.0     89.0
27                  Super 8      PG-13     2011.0    112.0
28                 superbad          R     2007.0    113.0
29                 WarGames         PG     1983.0    114.0

In [ ]:
df.replace('8','Eight',inplace=False)	#Replace all values equal to 8 with 'Eight'

                     TITLE_    RATING_   YEAR_  RUNTIME_
0             Almost Famous          R  2000.0     122.0
1              American Pie          R  1999.0      95.0
2        Back to the Future         PG  1985.0     116.0
3              Blade Runner          R  1982.0     117.0
4         Blood for Dracula          R  1974.0     106.0
5               Blue Velvet          R  1986.0     120.0
6        The Breakfast Club          R  1985.0      97.0
7                  Clueless      PG-13  1995.0       NaN
8            Cool Hand Luke         GP  1967.0     127.0
9                 The Craft          R  1996.0     101.0
10           Doctor Zhivago      PG-13  1965.0     197.0
11                  el Topo  Not Rated  1970.0     125.0
12                Evil Dead      NC-17  1981.0      85.0
13             Ghostbusters         PG  1984.0     105.0
14                   Grease      PG-13  1978.0     110.0
15                 Heathers          R  1988.0     103.0
16                Labyrinth         PG  1986.0     101.0
17            The Lost Boys          R  1987.0      97.0
18               Mean Girls      PG-13  2004.0      97.0
19       Millennium Actress         PG  2001.0      87.0
20       My Neighbor Totoro          G  1988.0      86.0
21        Napoleon Dynamite         PG  2004.0      96.0
22  Pee-wee's Big Adventure         PG  1985.0      91.0
23           Pretty in Pink      PG-13  1986.0      97.0
24       The Princess Bride         PG  1987.0      98.0
25                   Psycho          R  1960.0       NaN
26              Stand by Me          R  1986.0      89.0
27                  Super 8      PG-13  2011.0     112.0
28                 superbad          R  2007.0     113.0
29                 WarGames         PG  1983.0     114.0

In [ ]:
df.replace('8','Eight',regex=True,inplace=False)	#Replace all values equal to 8 with 'Eight'

                     TITLE_    RATING_   YEAR_  RUNTIME_
0             Almost Famous          R  2000.0     122.0
1              American Pie          R  1999.0      95.0
2        Back to the Future         PG  1985.0     116.0
3              Blade Runner          R  1982.0     117.0
4         Blood for Dracula          R  1974.0     106.0
5               Blue Velvet          R  1986.0     120.0
6        The Breakfast Club          R  1985.0      97.0
7                  Clueless      PG-13  1995.0       NaN
8            Cool Hand Luke         GP  1967.0     127.0
9                 The Craft          R  1996.0     101.0
10           Doctor Zhivago      PG-13  1965.0     197.0
11                  el Topo  Not Rated  1970.0     125.0
12                Evil Dead      NC-17  1981.0      85.0
13             Ghostbusters         PG  1984.0     105.0
14                   Grease      PG-13  1978.0     110.0
15                 Heathers          R  1988.0     103.0
16                Labyrinth         PG  1986.0     101.0
17            The Lost Boys          R  1987.0      97.0
18               Mean Girls      PG-13  2004.0      97.0
19       Millennium Actress         PG  2001.0      87.0
20       My Neighbor Totoro          G  1988.0      86.0
21        Napoleon Dynamite         PG  2004.0      96.0
22  Pee-wee's Big Adventure         PG  1985.0      91.0
23           Pretty in Pink      PG-13  1986.0      97.0
24       The Princess Bride         PG  1987.0      98.0
25                   Psycho          R  1960.0       NaN
26              Stand by Me          R  1986.0      89.0
27              Super Eight      PG-13  2011.0     112.0
28                 superbad          R  2007.0     113.0
29                 WarGames         PG  1983.0     114.0

In [ ]:
df.replace(1960,1959,inplace=False)	#Replace all values equal to 1960 with 1959

                     TITLE_    RATING_   YEAR_  RUNTIME_
0             Almost Famous          R  2000.0     122.0
1              American Pie          R  1999.0      95.0
2        Back to the Future         PG  1985.0     116.0
3              Blade Runner          R  1982.0     117.0
4         Blood for Dracula          R  1974.0     106.0
5               Blue Velvet          R  1986.0     120.0
6        The Breakfast Club          R  1985.0      97.0
7                  Clueless      PG-13  1995.0       NaN
8            Cool Hand Luke         GP  1967.0     127.0
9                 The Craft          R  1996.0     101.0
10           Doctor Zhivago      PG-13  1965.0     197.0
11                  el Topo  Not Rated  1970.0     125.0
12                Evil Dead      NC-17  1981.0      85.0
13             Ghostbusters         PG  1984.0     105.0
14                   Grease      PG-13  1978.0     110.0
15                 Heathers          R  1988.0     103.0
16                Labyrinth         PG  1986.0     101.0
17            The Lost Boys          R  1987.0      97.0
18               Mean Girls      PG-13  2004.0      97.0
19       Millennium Actress         PG  2001.0      87.0
20       My Neighbor Totoro          G  1988.0      86.0
21        Napoleon Dynamite         PG  2004.0      96.0
22  Pee-wee's Big Adventure         PG  1985.0      91.0
23           Pretty in Pink      PG-13  1986.0      97.0
24       The Princess Bride         PG  1987.0      98.0
25                   Psycho          R  1959.0       NaN
26              Stand by Me          R  1986.0      89.0
27                  Super 8      PG-13  2011.0     112.0
28                 superbad          R  2007.0     113.0
29                 WarGames         PG  1983.0     114.0

In [ ]:
df.replace(np.nan,0,inplace=False)	#Replace all values equal to 8 with 'Eight'

                     TITLE_    RATING_   YEAR_  RUNTIME_
0             Almost Famous          R  2000.0     122.0
1              American Pie          R  1999.0      95.0
2        Back to the Future         PG  1985.0     116.0
3              Blade Runner          R  1982.0     117.0
4         Blood for Dracula          R  1974.0     106.0
5               Blue Velvet          R  1986.0     120.0
6        The Breakfast Club          R  1985.0      97.0
7                  Clueless      PG-13  1995.0       0.0
8            Cool Hand Luke         GP  1967.0     127.0
9                 The Craft          R  1996.0     101.0
10           Doctor Zhivago      PG-13  1965.0     197.0
11                  el Topo  Not Rated  1970.0     125.0
12                Evil Dead      NC-17  1981.0      85.0
13             Ghostbusters         PG  1984.0     105.0
14                   Grease      PG-13  1978.0     110.0
15                 Heathers          R  1988.0     103.0
16                Labyrinth         PG  1986.0     101.0
17            The Lost Boys          R  1987.0      97.0
18               Mean Girls      PG-13  2004.0      97.0
19       Millennium Actress         PG  2001.0      87.0
20       My Neighbor Totoro          G  1988.0      86.0
21        Napoleon Dynamite         PG  2004.0      96.0
22  Pee-wee's Big Adventure         PG  1985.0      91.0
23           Pretty in Pink      PG-13  1986.0      97.0
24       The Princess Bride         PG  1987.0      98.0
25                   Psycho          R  1960.0       0.0
26              Stand by Me          R  1986.0      89.0
27                  Super 8      PG-13  2011.0     112.0
28                 superbad          R  2007.0     113.0
29                 WarGames         PG  1983.0     114.0

**insigh**

- None

In [ ]:
file_name = 'movies.csv'
data = pd.read_csv(file_name)
data.head()

                title rating  year  runtime
0       Almost Famous      R  2000    122.0
1        American Pie      R  1999     95.0
2  Back to the Future     PG  1985    116.0
3        Blade Runner      R  1982    117.0
4   Blood for Dracula      R  1974    106.0

### 4- Data Cleaning

 TasK

1- set index year


2- get 1982 data by calling the index

In [ ]:
data.set_index('year',inplace=True)	#Change the index

In [ ]:
data

                        title     rating  runtime
year
2000            Almost Famous          R    122.0
1999             American Pie          R     95.0
1985       Back to the Future         PG    116.0
1982             Blade Runner          R    117.0
1974        Blood for Dracula          R    106.0
1986              Blue Velvet          R    120.0
1985       The Breakfast Club          R     97.0
1995                 Clueless      PG-13      NaN
1967           Cool Hand Luke         GP    127.0
1996                The Craft          R    101.0
1965           Doctor Zhivago      PG-13    197.0
1970                  el Topo  Not Rated    125.0
1981                Evil Dead      NC-17     85.0
1984             Ghostbusters         PG    105.0
1978                   Grease      PG-13    110.0
1988                 Heathers          R    103.0
1986                Labyrinth         PG    101.0
1987            The Lost Boys          R     97.0
2004               Mean Girls      PG-13     97.0
2001       Millennium Actress         PG     87.0
1988       My Neighbor Totoro          G     86.0
2004        Napoleon Dynamite         PG     96.0
1985  Pee-wee's Big Adventure         PG     91.0
1986           Pretty in Pink      PG-13     97.0
1987       The Princess Bride         PG     98.0
1960                   Psycho          R      NaN
1986              Stand by Me          R     89.0
2011                  Super 8      PG-13    112.0
2007                 superbad          R    113.0
1983                 WarGames         PG    114.0

In [ ]:
data.loc[1960]

title      Psycho
rating          R
runtime       NaN
Name: 1960, dtype: object

In [ ]:
data.reset_index(inplace=True)

In [ ]:
path = 'movies.csv'
data = pd.read_csv(path)
data.head()

                title rating  year  runtime
0       Almost Famous      R  2000    122.0
1        American Pie      R  1999     95.0
2  Back to the Future     PG  1985    116.0
3        Blade Runner      R  1982    117.0
4   Blood for Dracula      R  1974    106.0

### 5- Filter, Sort, and Groupby

In [ ]:
path = 'movies.csv'
data = pd.read_csv(path)
df = data.copy()
df.sample(2)

             title rating  year  runtime
10  Doctor Zhivago  PG-13  1965    197.0
1     American Pie      R  1999     95.0

In [ ]:
df[df['year'] > 2000]	#Rows where the column col is greater than 2000

                 title rating  year  runtime
18          Mean Girls  PG-13  2004     97.0
19  Millennium Actress     PG  2001     87.0
21   Napoleon Dynamite     PG  2004     96.0
27             Super 8  PG-13  2011    112.0
28            superbad      R  2007    113.0

In [ ]:
df[df['runtime'] > 130]	#Rows where the column col is greater than 130

             title rating  year  runtime
10  Doctor Zhivago  PG-13  1965    197.0

In [ ]:
df.isnull().sum()

title      0
rating     0
year       0
runtime    2
dtype: int64

In [ ]:
df[df['runtime'].isnull()]

       title rating  year  runtime
7   Clueless  PG-13  1995      NaN
25    Psycho      R  1960      NaN

&

|

~

In [ ]:
df[ (df['runtime'] > 100) & (df['runtime'] < 110)]	#Rows where 95 > col > 110

                title rating  year  runtime
4   Blood for Dracula      R  1974    106.0
9           The Craft      R  1996    101.0
13       Ghostbusters     PG  1984    105.0
15           Heathers      R  1988    103.0
16          Labyrinth     PG  1986    101.0

In [ ]:
# df[(df['runtime'] > 95) & ]	#Rows where 0.8 > col > 0.6

task 

rating = PG

In [ ]:
df[(df['runtime'] > 95) &  (df['rating'] == "PG")]

                 title rating  year  runtime
2   Back to the Future     PG  1985    116.0
13        Ghostbusters     PG  1984    105.0
16           Labyrinth     PG  1986    101.0
21   Napoleon Dynamite     PG  2004     96.0
24  The Princess Bride     PG  1987     98.0
29            WarGames     PG  1983    114.0

In [ ]:
df[df['rating'] == "PG"]

                      title rating  year  runtime
2        Back to the Future     PG  1985    116.0
13             Ghostbusters     PG  1984    105.0
16                Labyrinth     PG  1986    101.0
19       Millennium Actress     PG  2001     87.0
21        Napoleon Dynamite     PG  2004     96.0
22  Pee-wee's Big Adventure     PG  1985     91.0
24       The Princess Bride     PG  1987     98.0
29                 WarGames     PG  1983    114.0

In [ ]:
# = # Assigning   

# == # are you equal  ,,,,,  Compare

get the average of runtime when year > 1990

In [ ]:
df[df['year'] < 1990]['runtime'].mean()

109.05

In [ ]:
df.sort_values('year')	#Sort values by col1 in ascending order

                      title     rating  year  runtime
25                   Psycho          R  1960      NaN
10           Doctor Zhivago      PG-13  1965    197.0
8            Cool Hand Luke         GP  1967    127.0
11                  el Topo  Not Rated  1970    125.0
4         Blood for Dracula          R  1974    106.0
14                   Grease      PG-13  1978    110.0
12                Evil Dead      NC-17  1981     85.0
3              Blade Runner          R  1982    117.0
29                 WarGames         PG  1983    114.0
13             Ghostbusters         PG  1984    105.0
6        The Breakfast Club          R  1985     97.0
2        Back to the Future         PG  1985    116.0
22  Pee-wee's Big Adventure         PG  1985     91.0
5               Blue Velvet          R  1986    120.0
26              Stand by Me          R  1986     89.0
16                Labyrinth         PG  1986    101.0
23           Pretty in Pink      PG-13  1986     97.0
17            The Lost Boys          R  1987     97.0
24       The Princess Bride         PG  1987     98.0
15                 Heathers          R  1988    103.0
20       My Neighbor Totoro          G  1988     86.0
7                  Clueless      PG-13  1995      NaN
9                 The Craft          R  1996    101.0
1              American Pie          R  1999     95.0
0             Almost Famous          R  2000    122.0
19       Millennium Actress         PG  2001     87.0
18               Mean Girls      PG-13  2004     97.0
21        Napoleon Dynamite         PG  2004     96.0
28                 superbad          R  2007    113.0
27                  Super 8      PG-13  2011    112.0

In [ ]:
df.sort_values('year',ascending=False)	#Sort values by col2 in descending order.5

                      title     rating  year  runtime
27                  Super 8      PG-13  2011    112.0
28                 superbad          R  2007    113.0
21        Napoleon Dynamite         PG  2004     96.0
18               Mean Girls      PG-13  2004     97.0
19       Millennium Actress         PG  2001     87.0
0             Almost Famous          R  2000    122.0
1              American Pie          R  1999     95.0
9                 The Craft          R  1996    101.0
7                  Clueless      PG-13  1995      NaN
20       My Neighbor Totoro          G  1988     86.0
15                 Heathers          R  1988    103.0
17            The Lost Boys          R  1987     97.0
24       The Princess Bride         PG  1987     98.0
5               Blue Velvet          R  1986    120.0
26              Stand by Me          R  1986     89.0
16                Labyrinth         PG  1986    101.0
23           Pretty in Pink      PG-13  1986     97.0
22  Pee-wee's Big Adventure         PG  1985     91.0
2        Back to the Future         PG  1985    116.0
6        The Breakfast Club          R  1985     97.0
13             Ghostbusters         PG  1984    105.0
29                 WarGames         PG  1983    114.0
3              Blade Runner          R  1982    117.0
12                Evil Dead      NC-17  1981     85.0
14                   Grease      PG-13  1978    110.0
4         Blood for Dracula          R  1974    106.0
11                  el Topo  Not Rated  1970    125.0
8            Cool Hand Luke         GP  1967    127.0
10           Doctor Zhivago      PG-13  1965    197.0
25                   Psycho          R  1960      NaN