## Introduction to Pandas

Often data is stored in comma separated values (CSV) files.
For the remainder of this lab, we'll be working with automobile data, where we've extracted relevant parts below. Note that CSV files can be output by any spreadsheet software, and are plain text, hence are a great way to share data. Pandas can also read excel format.

![image.png]()

To use Pandas, we first need to import the `pandas` package:

In [ ]:
import pandas as pd

### The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data. It is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.
Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

![image.png]()

Reference: https://www.geeksforgeeks.org/python-pandas-series/

#### Create from list

Pandas series can be extracted from a dataframe, or they can be created from a list or array as follows:

In [1]:
import pandas as pd

x = [1,2,3]

pd.Series(x)

0    1
1    2
2    3
dtype: int64

In [ ]:
pd.Series([1,2,3.5,'4',True])

In [2]:
data = pd.Series(
                 index=[1,2,5,6],
                 data=[0.25, 0.5, 0.75, 1.0])
data

1    0.25
2    0.50
5    0.75
6    1.00
dtype: float64

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The ``index`` is an array-like object of type ``pd.Index``, which we'll discuss in more detail momentarily.

In [ ]:
data.index

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [3]:
data

1    0.25
2    0.50
5    0.75
6    1.00
dtype: float64

In [4]:
data[1]

0.25

In [6]:
data.values[1]

0.5

In [7]:
data[5]

0.75

In [9]:
data[0:2]

1    0.25
2    0.50
dtype: float64

In [10]:
data

1    0.25
2    0.50
5    0.75
6    1.00
dtype: float64

In [12]:
data[1:7]

2    0.50
5    0.75
6    1.00
dtype: float64

In [13]:
data[1:5]

2    0.50
5    0.75
6    1.00
dtype: float64

In [14]:
data[6]

1.0

In [15]:
data[5:7]

Series([], dtype: float64)

In [16]:
data

1    0.25
2    0.50
5    0.75
6    1.00
dtype: float64

In [17]:
data[3]

KeyError: 3

Task

Create dict with 2 keys

#### Create from dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of a Python dictionary.
A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [18]:
population_dict = {'California': 38332521,  #Key   Value
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135
                   }


population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
population.values

array([38332521, 26448193, 19651127, 19552860, 12882135])

In [20]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

By default, a ``Series`` will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [21]:
population['California']

38332521

Unlike a dictionary, though, the ``Series`` also supports array-style operations such as slicing:

In [22]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [23]:
population[1:3] # 3 exclusive

Texas       26448193
New York    19651127
dtype: int64

In [24]:
population[0:4]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [25]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Special case

In [26]:
population['California':'Illinois']   # last is inclusive when string

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

**Task**


1- create  dictionary 10 numbers (Key : value) number : square(number)

2- create series using dictionary

3- print range 5 to 9  (9 inclusive)

4- print index = 3

5- print index = 11

In [ ]:
dict = {1:1,2:4,3:9}

In [27]:
dictt = {x:x**2 for x in range (0,10)}
dictt

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [28]:
dict_s = pd.Series(dictt)
dict_s

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [29]:
dict_s[5:10]

5    25
6    36
7    49
8    64
9    81
dtype: int64

In [30]:
dict_s[3]

9

In [31]:
dict_s[11]

KeyError: 11

### Pandas Data Frame
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

![image.png]()

Reference: https://www.geeksforgeeks.org/python-pandas-dataframe/

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [33]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)

pd.DataFrame(population,
             columns=['population']
             )

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [36]:
stu_d = {'mah':5,
         'ahm':2.5,
         'kar':4}

stu_s  = pd.Series(
                    stu_d
                   )

stu_df = pd.DataFrame(
                      stu_s,
                      columns=['GPA']
                      )


stu_df.reset_index(inplace=True)
stu_df

  index  GPA
0   mah  5.0
1   ahm  2.5
2   kar  4.0

Task

Create Data Frame with Names and Salaries

then reset index

In [37]:
stu_df

  index  GPA
0   mah  5.0
1   ahm  2.5
2   kar  4.0

In [38]:
stu_df.rename(columns={'index':'Names'},inplace=True)

In [39]:
stu_df

  Names  GPA
0   mah  5.0
1   ahm  2.5
2   kar  4.0

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [40]:
import pandas as pd

row1 = {'Name': 'Mahmoud' , 'Number': 1500 ,'Age': 28 }
row2 = {'Name': 'Ahmed'   , 'Number': 985 , 'Age': 35 }

In [41]:
df1 = pd.DataFrame( [row1,row2] )
df1

      Name  Number  Age
0  Mahmoud    1500   28
1    Ahmed     985   35

task

Create dataframe

3 rows

3 columns

Name  Salary  City

In [42]:
df1

      Name  Number  Age
0  Mahmoud    1500   28
1    Ahmed     985   35

In [43]:
df1.shape

(2, 3)

In [44]:
df1.dtypes

Name      object
Number     int64
Age        int64
dtype: object

#### Indexers: loc, iloc, and ix

These slicing and indexing conventions can be a source of confusion.
For example, if your ``Series`` has an explicit integer index, an indexing operation such as ``data[1]`` will use the explicit indices, while a slicing operation like ``data[1:3]`` will use the implicit Python-style index.

In [46]:
data = pd.Series(['Rami', 'Aicha', 'Rana','Zohoor','Lina'], index=[1, 3, 5,6,8])
data

1      Rami
3     Aicha
5      Rana
6    Zohoor
8      Lina
dtype: object

In [47]:
# explicit index when indexing
data[1]

'Rami'

In [49]:
# implicit index when slicing
data[1:3]

3    Aicha
5     Rana
dtype: object

### Data Selection in DataFrame

Recall that a ``DataFrame`` acts in many ways like a two-dimensional or structured array, and in other ways like a dictionary of ``Series`` structures sharing the same index.
These analogies can be helpful to keep in mind as we explore data selection within this structure.

#### DataFrame as a dictionary

The first analogy we will consider is the ``DataFrame`` as a dictionary of related ``Series`` objects.
Let's return to our example of areas and populations of states:

In [ ]:
import pandas as pd

3 rows  2 columns

columns name  = City    ,  Pop

In [50]:
row_1 = {'City': 'Alex', 'Pop': 655500 , 'True' : 2500}    # Column name and value
row_2 = {'City': 'Mecca', 'Pop': 254400 , 'True' : 9820}    # Column name and value


data = pd.DataFrame([row_1, row_2])
data

    City     Pop  True
0   Alex  655500  2500
1  Mecca  254400  9820

The individual ``Series`` that make up the columns of the ``DataFrame`` can be accessed via dictionary-style indexing of the column name:

In [51]:
data['True']

0    2500
1    9820
Name: True, dtype: int64

Equivalently, we can use attribute-style access with column names that are strings:

In [53]:
data.City

0     Alex
1    Mecca
Name: City, dtype: object

In [52]:
data.True    # Reserved word

SyntaxError: invalid syntax (<ipython-input-52-a41166829e5a>, line 1)

In [54]:
data.Pop   # pop

0    655500
1    254400
Name: Pop, dtype: int64

This attribute-style column access actually accesses the exact same object as the dictionary-style access:

In [55]:
data.Pop is data['Pop']

True

Though this is a useful shorthand, keep in mind that it does not work for all cases!
For example, if the column names are not strings, or if the column names conflict with methods of the ``DataFrame``, this attribute-style access is not possible.
For example, the ``DataFrame`` has a ``pop()`` method, so ``data.pop`` will point to this rather than the ``"pop"`` column:

In [56]:
data

    City     Pop  True
0   Alex  655500  2500
1  Mecca  254400  9820

In particular, you should avoid the temptation to try column assignment via attribute (i.e., use ``data['pop'] = z`` rather than ``data.pop = z``).

Like with the ``Series`` objects discussed earlier, this dictionary-style syntax can also be used to modify the object, in this case adding a new column:

In [ ]:
data

Task  

change column true to Area

In [57]:
data.rename(columns = {'True':'Area'},inplace=True)